{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.35.4/resources/schema.json",
    "source": {
        "directories": [
            "Classes"
        ],
        "excludes": [
            "Domain/Model",
            "Exception",
            "Controller"
        ]
    },
    "timeout": 30,
    "logs": {
        "text": ".Build/logs/infection.log",
        "html": ".Build/logs/infection.html",
        "summary": ".Build/logs/infection-summary.log",
        "perMutator": ".Build/logs/infection-per-mutator.md"
    },
    "tmpDir": ".Build/cache/infection",
    "phpUnit": {
        "configDir": "Build",
        "customPath": ".Build/bin/phpunit"
    },
    "mutators": {
        "@default": true,
        "@function_signature": false
    },
    "testFramework": "phpunit",
    "testFrameworkOptions": "--testsuite=unit",
    "minMsi": 65,
    "minCoveredMsi": 65
}
