<html data-namespace-typo3-fluid="true"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers">
<f:layout name="Module" />
<f:section name="Content">
    <h1><f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:module.title" /></h1>

    <p>
        <f:link.action action="new" class="btn btn-primary">
            <core:icon identifier="actions-add" size="small" />
            <f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.action.new" />
        </f:link.action>
    </p>

    <f:if condition="{jobs}">
        <f:then>
            <div class="table-fit">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col"><f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.column.id" /></th>
                            <th scope="col"><f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.column.source" /></th>
                            <th scope="col"><f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.column.status" /></th>
                            <th scope="col"><f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.column.progress" /></th>
                            <th scope="col"><span class="visually-hidden"><f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.column.actions" /></span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{jobs}" as="job">
                            <tr>
                                <td>{job.uid}</td>
                                <td>{job.sourceValue}</td>
                                <td>
                                    <span class="badge badge-{job.statusEnum.severity}">
                                        <f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:{job.statusEnum.labelKey}" />
                                    </span>
                                </td>
                                <td>
                                    <div class="progress" role="progressbar" aria-valuenow="{job.progress}" aria-valuemin="0" aria-valuemax="100" aria-label="{job.progress}%">
                                        <div class="progress-bar" style="width: {job.progress}%;">{job.progress}%</div>
                                    </div>
                                </td>
                                <td class="text-end">
                                    <f:link.action action="show" arguments="{job: job}" class="btn btn-sm btn-default">
                                        <f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.action.details" />
                                    </f:link.action>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="callout callout-info">
                <f:translate key="LLL:EXT:nr_repurpose/Resources/Private/Language/locallang.xlf:list.empty" />
            </div>
        </f:else>
    </f:if>
</f:section>
</html>
